.group-2542{
position: absolute;
width: 700px;
height: 91px;
left: 0px;
top: 0px;
}
.rev-desc{
    position: absolute;
width: 321px;
height: 25px;
left: 117px;
top: 100px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

letter-spacing: -0.02em;

color: #000000;
}

.input{
    position: absolute;
width: 700px;
height: 64px;
left: 116px;
top: 153px;

background: rgba(196, 196, 196, 0.15);
border-radius: 10px 10px 0px 0px;
border-width: 0px;
}

input,
input::placeholder{
    font-size: 20px
}
